.Header{

    color: white;
    background-color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100px;
    width: 100%;
    display: flex;
    
    
}

.link{
    
    width: 5px;
    height: 20px;
    display: flex;
    align-items: end;
    flex:1;
    justify-content: center;
    flex-basis: 20%;
}
.header-logo{
    font-weight: bold;
    width: 10px;
    height: 10px;
    padding: 5px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-basis: 70%;
}
/*Descripciones*/
.description{
    background-color: #1F2937;
    height: 400px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.description .descriptiontextawesome{
    border-style: ridge;
    width: 400;
    border-color: white;
    font-weight: 900px;
    font-size: 48px;
    flex-wrap: wrap;
    flex-basis: 50%;
    align-items: start;
}
.description .placeholderimg{
    border-color: white;
    border-style: ridge;
    flex-wrap: wrap;
    justify-content: end;
    flex-basis: 50%;
    align-items: flex-start;
}
.description .descriptiontext{
    border-color: red;
    border-style: ridge;
    align-content: center;
    padding-left: 20%;
    align-self: center;
    width: 30%;
    height: 50%;
}
.description .placeholderforweb{
    border-color: white;
    border-style: dotted;
    align-content: center;
    background-color: rgb(192, 211, 228);
    background-blend-mode: color;
    width: 30%;
    height: 50%;
}
.description .placeholderforweb .placeholderimg{
    flex-direction: column;
    padding-left: 30%;
}
.button{
    background-color: #3882F6;
    color: white;
}
.information{
    display: flex;

}
.sminformation{
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900px;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 35%;
    padding-bottom: 5%;
    padding-top: 1%;
    
    
}

.boxes{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    

}
.img{
    border-color: #1F2937;
    border-style: ridge;
    width: 150px;
    height: 150px;
    border-radius: 25px;

}
.boxtext{
    display:flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 2%;
    height: 20px;
    
}
.quote{
    background-color: #E5E7EB;
    height: 400px;
    
}
.quote .textquote{
        
    font-size: 36px;
    font-style: italic;
    align-items: center;
    align-content: center;
    padding-top: 9%;
    padding-left: 20%;
    height: 5px;
    flex-wrap: wrap;
    display: flex;
}
.quote .quoteguy{
   
    padding-left: 80%;
    padding-top: 2%;
    align-items: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
}
